{
  "API_BASE_URL": "https://www.jarztowing.com/api",
  "GOOGLE_SERVER_CLIENT_ID": "YOUR_GOOGLE_SERVER_CLIENT_ID.apps.googleusercontent.com",
  "GOOGLE_CLIENT_ID": "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com",
  "TL_DEMO_ARRIVAL_ENABLED": true
}
